# Archivos de Python compilados
__pycache__/
*.py[cod]
*.class

# Archivos temporales del sistema
.DS_Store
._*
=*

# Archivos temporales del proyecto
chat/chat_memory.json
chat/stt/temp_audio.wav
chat/tts/output.mp3

# Archivos de entorno
.env
.venv
venv/
